<p data-roll='description'>This is an application to manage todo lists</p>

<%= form_for :session, url: session_path do |form| %>
  <%= form.label :email_address %>
  <%= form.text_field :email_address %>
  <%= form.submit 'Sign In' %>
<% end %>
