<%= link_to "Add a new todo", new_todolist_path %>

<ul class="todolists">
  <% @todolists.each do |todolist| %>
    <li class="<%= "completed" if todolist.completed? %>">
      <%= todolist.title %>
      <%= button_to "Mark complete", todolist_completion_path(todolist) %>
    </li>

  <% end %>
</ul>
